<p-toolbar>
  <h1>Draft Form NDZ</h1>
</p-toolbar>

<p-card>

  <form [formGroup]="myForm" (ngSubmit)="submit()">

    <label for="question">{{currentQuestion.questionLabel}}</label>

    <div *ngFor="let answer of currentQuestion.answers" class="field-checkbox">

      <p-radioButton formControlName="question" [inputId]="answer.id" name="question" [value]="answer.value">
      </p-radioButton>

      <label [for]="answer.id">{{answer.value}}</label>

    </div>



    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>

    <h5>Selected Value: {{myForm.value | json}}</h5>
  </form>

</p-card>